body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 500px;
    margin: auto;
}

img {
    width: 500px;
    height: auto;
}

h1, h2 {
    font-family: 'Milonga', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-size: 36px;
    color: #006400;
}

h2 {
    font-size: 20px;
    color: #228b22;
    margin-top: 30px;
}

li, p {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.pages {
    background-color: rgb(237, 237, 237);
    border: solid 1px darkgray;
    margin: 10px 0;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #006400;
}